<%= stylesheet_link_tag "#{AppConfig[:frontend_prefix]}assets/fattable.css" %>
<%= javascript_include_tag "#{AppConfig[:frontend_prefix]}assets/fattable.min.js" %>

<div class="record-pane">

  <h1>Work Order Form</h1>

  <p><%= @uri %></p>
</div>